ul {
  margin-top: 2rem;
  list-style: none;
  height: 35vh;
  overflow-y: scroll;
  width: 50vw;
  padding-right: 10px;

  margin-top: 2rem;
}

ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;

  border-radius: 15px;
  margin-top: 2rem;
  background-color: #ff9c99;
  box-shadow: 10px 5px 5px rgb(139, 139, 139);
}

ul::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

ul::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(left, #fff, #e4e4e4);
  border: 1px solid #aaa;
}

ul::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

ul::-webkit-scrollbar-thumb:active {
  background: linear-gradient(left, #22add4, #1e98ba);
}
